@{
    ViewData["Title"] = "Blog Page";
}

<div class="main_container_block escorts_display_page">

    <div class="breadcums_block">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Blog</li>
        </ol>
    </div>


    <h1 class="heading">Default</h1>

    <div class="container_area border_radius bg_boston">
        <div class="common_page_container">
            <div class="services_container_block">

                

                <a href="#" class="btn btn-xs purple_color">1</a>
                <a href="/blog/page-2.php" class="btn btn-xs purple_color">2</a>


            </div>
        </div>
    </div>

</div>