@{
    ViewData["Title"] = "Blog Page";
}

<div class="main_container_block escorts_display_page">

    @* <div class="breadcums_block">
        <ol class="breadcrumb">
            <li><a title="" href="/"><span>Home</span></a></li>
            <li><a title="" href="/blog/"><span>Blog</span></a></li>
            <li class="active"><span>Page 2</span></li>
        </ol>
    </div> *@
    @{
        var breadcrumbs = ViewData["Breadcrumbs"] as List<WebUi.Models.BreadcrumbItem>;
    }

    @if (breadcrumbs != null)
    {
        <partial name="_Breadcrumbs" model="breadcrumbs" />
    }

    <h1 class="heading">Default</h1>

    <div class="container_area border_radius bg_boston">
        <div class="common_page_container">
            <div class="services_container_block">

                

                <a href="/blog/" class="btn btn-xs purple_color">1</a>
                <a href="#" class="btn btn-xs purple_color">2</a>

                
            </div>
        </div>
    </div>

</div>