<div class="container_wrapper">
    @* <div class="breadcums_block">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="../blog.php">Blog</a></li>
            <li>Top 25 Playboy covers</li>
        </ol>
    </div> *@
    @{
        var breadcrumbs = ViewData["Breadcrumbs"] as List<WebUi.Models.BreadcrumbItem>;
    }

    @if (breadcrumbs != null)
    {
        <partial name="_Breadcrumbs" model="breadcrumbs" />
    }
    <div class="main_container">
        <div class="header_block">
            <h1><span>Top 25 </span>Playboy covers</h1>
        </div>
        <div class="sincity_blog_part">
            <div class="text_info_block blog_article_details_block clearfix">
                <p>
                    <a href="https://www.playboy.com/" target="_blank">Playboy</a> – extremely popular magazine for men, which is published for more than half a
                    century by <a href="https://en.wikipedia.org/wiki/Hugh_Hefner" target="_blank">Hugh Hefner</a>, its founder and Executive editor. Recently, the world was shocked with sensational news that for the first time of its 60-year
                    history the magazine refused to publish pictures of naked beauties.
                </p>
                <p>
                    89-year-old Hefner said that today one can not be surprised  by tits-and-ass photo,
                    even fans of "strawberries" are fed up with it!  This radical step has not been taken immediately ... He just suddenly realized that nudity became totally uninteresting. That is why adult industry becoming less profitable every year.
                </p>
                <p>We offer you look back on the most vivid cover of a popular magazine Playboy.</p>
                <p>
                    The very first issue of Playboy magazine with the legendary Marilyn Monroe, December 1953.
                    It is REALLY HOT! Wow, I did not think the Playboy covers of 50-70th were so sexually explicit!
                </p>
                <p>Here are collection of best Playboy covers since 1953!</p>
            </div>
            <div class="text_info_block blog_article_details_block clearfix">
                <div class="col-sm-6">
                    <p>1953</p>
                    <img class="img-responsive" src="/img/plb/1953.jpg" alt="Playboy cover with Marilyn Monroe 1953" title="Playboy cover with Marilyn Monroe 1953">
                </div>
                <div class="col-sm-6">
                    <p>1955</p>
                    <img class="img-responsive" src="/img/plb/1955.jpg" alt="Playboy cover with Leigh Lewin 1955" title="Playboy cover with Leigh Lewin 1955">
                </div>
                <div class="playboy"></div>
                <div class="col-sm-6">
                    <p>1955</p>
                    <img class="img-responsive" src="/img/plb/1955-1.jpg" alt="Playboy cover with Janet Pilgrim 1955" title="Playboy cover with Janet Pilgrim 1955">
                </div>
                <div class="col-sm-6">
                    <p>1958</p>
                    <img class="img-responsive" src="/img/plb/1958.jpg" alt="Playboy cover with Joyce Nizzari 1958" title="Playboy cover with Joyce Nizzari 1958">
                </div>
                <div class="playboy"></div>
                <div class="col-sm-6">
                    <p>1963</p>
                    <img class="img-responsive" src="/img/plb/1963.jpg" alt="Playboy cover with Cheryl Lampley 1963" title="Playboy cover with Cheryl Lampley 1963">
                </div>
                <div class="col-sm-6">
                    <p>1963</p>
                    <img class="img-responsive" src="/img/plb/1963-1.jpg" alt="Playboy cover with Kelly Collins 1963" title="Playboy cover with Kelly Collins 1963">
                </div>
                <div class="playboy"></div>
                <div class="col-sm-6">
                    <p>1964</p>
                    <img class="img-responsive" src="/img/plb/1964.jpg" alt="Playboy cover with Donna Michelle 1964" title="Playboy cover with Donna Michelle 1964">
                </div>
                <div class="col-sm-6">
                    <p>1968</p>
                    <img class="img-responsive" src="/img/plb/1968.jpg" alt="Playboy cover with Aino Korva 1968" title="Playboy cover with Aino Korva 1968">
                </div>
                <div class="playboy"></div>
                <div class="col-sm-6">
                    <p>1970</p>
                    <img class="img-responsive" src="/img/plb/1970.jpg" alt="Playboy cover with Linda Donnelly 1970" title="Playboy cover with Linda Donnelly 1970">
                </div>
                <div class="col-sm-6">
                    <p>1970</p>
                    <img class="img-responsive" src="/img/plb/1970-1.jpg" alt="Playboy cover with Janet Wolf 1970" title="Playboy cover with Janet Wolf 1970">
                </div>
                <div class="playboy"></div>
                <div class="col-sm-6">
                    <p>1971</p>
                    <img class="img-responsive" src="/img/plb/1971.jpg" alt="Playboy cover with Darine Stern 1971" title="Playboy cover with Darine Stern 1971">
                </div>
                <div class="col-sm-6">
                    <p>1971</p>
                    <img class="img-responsive" src="/img/plb/1971-1.jpg" alt="Playboy cover with Simone Hammerstrand 1971" title="Playboy cover with Simone Hammerstrand 1971">
                </div>
                <div class="playboy"></div>
                <div class="col-sm-6">
                    <p>1972</p>
                    <img class="img-responsive" src="/img/plb/1972.jpg" alt="Playboy cover with Barbara Carrera 1972" title="Playboy cover with Barbara Carrera 1972">
                </div>
                <div class="col-sm-6">
                    <p>1973</p>
                    <img class="img-responsive" src="/img/plb/1973.jpg" alt="Playboy cover with Lenna Sjooblom 1973" title="Playboy cover with Lenna Sjooblom 1973">
                </div>
                <div class="playboy"></div>
                <div class="col-sm-6">
                    <p>1973</p>
                    <img class="img-responsive" src="/img/plb/1973-1.jpg" alt="Playboy cover with Karen Christy 1973" title="Playboy cover with Karen Christy 1973">
                </div>
                <div class="col-sm-6">
                    <p>1975</p>
                    <img class="img-responsive" src="/img/plb/1975.jpg" alt="Playboy cover with Amy Arnold 1975" title="Playboy cover with Amy Arnold 1975">
                </div>
                <div class="playboy"></div>
                <div class="col-sm-6">
                    <p>1975</p>
                    <img class="img-responsive" src="/img/plb/1975-1.jpg" alt="Playboy cover with Lillian Müller 1975" title="Playboy cover with Lillian Müller 1975">
                </div>
                <div class="col-sm-6">
                    <p>1979</p>
                    <img class="img-responsive" src="/img/plb/1979.jpg" alt="Playboy cover with Cheryle Larsen 1979" title="Playboy cover with Cheryle Larsen 1979">
                </div>
                <div class="playboy"></div>
                <div class="col-sm-6">
                    <p>1988</p>
                    <img class="img-responsive" src="/img/plb/1988.jpg" alt="Playboy cover with Sandy Greenberg 1988" title="Playboy cover with Sandy Greenberg 1988">
                </div>
                <div class="col-sm-6">
                    <p>1989</p>
                    <img class="img-responsive" src="/img/plb/1989.jpg" alt="Playboy cover with Erika Eleniak 1989" title="Playboy cover with Erika Eleniak 1989">
                </div>
                <div class="playboy"></div>
                <div class="col-sm-6">
                    <p>1991</p>
                    <img class="img-responsive" src="/img/plb/1991.jpg" alt="Playboy cover with Lisa Matthews 1991" title="Playboy cover with Lisa Matthews 1991">
                </div>
                <div class="col-sm-6">
                    <p>1991</p>
                    <img class="img-responsive" src="/img/plb/1991-1.jpg" alt="Playboy cover with Julie Clarke 1991" title="Playboy cover with Julie Clarke 1991">
                </div>
                <div class="playboy"></div>
                <div class="col-sm-6">
                    <p>2009</p>
                    <img class="img-responsive" src="/img/plb/2009.jpg" alt="Playboy cover with Marge Simpson 2009" title="Playboy cover with Marge Simpson 2009">
                </div>
                <div class="col-sm-6">
                    <p>2013</p>
                    <img class="img-responsive" src="/img/plb/2013.jpg" alt="Playboy cover with Tamara Ecclestone 2013" title="Playboy cover with Tamara Ecclestone 2013">
                </div>
                <div class="playboy"></div>
                <div class="col-sm-6">
                    <p>2014</p>
                    <img class="img-responsive" src="/img/plb/2014.jpg" alt="Playboy cover with Kate Moss 2014" title="Playboy cover with Kate Moss 2014">
                </div>
                <div class="col-sm-6">
                    &nbsp;
                </div>
                <div class="playboy"></div>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_bottomInformation")
</div>