@using Domain.Models
@{
    ViewData["Title"] = "Faq";
}

<div class="container_wrapper">
    <div class="breadcums_block">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">FAQ</li>
        </ol>
    </div>

    <div class="main_container featured_escort">
        <div class="header_block">
            <h1><span>Frequently Asked</span> Questions</h1> 
        </div>

        <div class="text_info_block">
            <p><strong>Q. Is it legal to hire a Las Vegas escort?</strong></p>
            <p>A. Hiring an escort is legal and we are a legal business that follows the law. You can check the Nevada law to verify, but as of now escorts in Las Vegas are completely legal.</p>
            <p><strong>Q. Will anyone know that I hired a Las Vegas escort?</strong></p>
            <p>A. We respect your privacy and do not share our booking information with third parties. The only way they would know is if you decide to tell them. All of our bookings are discrete to protect you and the girls.</p>
            <p><strong>Q. What payment methods do you accept?</strong></p>
            <p>A. We only accept cash. Foreign currencies are accepted (Euros &amp; British Pounds) with an additional transaction fee
            </p>
            <p><strong>Q. Where do most people go out with Las Vegas escorts?</strong></p>
            <p>A. That is your decision to make with the girl when she shows up, most people hang out either in their hotel, home, or they go out for dinner and drinks.</p>
            <p><strong>Q. How long can I book a Las Vegas escort for?</strong></p>
            <p>A. It is entirely up to you, but most people book our Las Vegas escorts for 2-3 hours. This gives you plenty of time to spend with a beautiful lady without feeling rushed. Some of our repeat clients book our beautiful models for days.</p>
            <p><strong>Q. Do you offer any type of discounts?</strong></p>
            <p>A. We provide discount for bachelor parties or when more than 2 escorts are booked at the same time. Please contact us for details!</p>
            <p><strong>Q. Can I book more than 1 Vegas escort at the same time?</strong></p>
            <p>A. Yes! Absolutely! And we actually recommend booking multiple Las Vegas escorts at the same time for what ends up being MORE than TWICE the fun as just one! Practically every man’s dream is being with two hot girls at once, so now that you’re in Las Vegas so why not make that dream come true!</p>
        </div>
    </div>
</div>