@using Domain.Models
@{
    ViewData["Title"] = "Faq";
}

<div class="container_wrapper">
    <div class="breadcums_block">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Terms of service</li>
        </ol>
    </div>

    <div class="main_container featured_escort">
        <div class="header_block">
            <h1><span>Terms of Service </span>("Terms")</h1> 
        </div>
        <div class="text_info_block">
            <h2><span>ADULT MATERIAL</span></h2>
            <p>THIS IS AN ADULT NATURED SITE. YOU MAY ONLY ACCESS THIS SITE IF YOU ACCEPT THE TERMS OF THE FOLLOWING STATEMENT: BY ACCEPTING THIS AGREEMENT, I, THE VIEWER OF THIS WEB SITE, ELECTRONICALLY CERTIFY THE FOLLOWING: I AM AT LEAST 18 YEARS OF AGE. AT THIS MOMENT, I AM VIEWING THIS MATERIAL IN A COMMUNITY WHERE ADULT MATERIAL IS NOT CONSIDERED LEWD OR OBSCENE. I UNDERSTAND THE STANDARDS AND LAWS OF THE COMMUNITY, SITE, AND COMPUTER TO WHICH I AM TRANSPORTING THIS MATERIAL, AND I AM SOLELY RESPONSIBLE FOR MY ACTIONS. I PROMISE THAT I WILL NOT PERMIT ANY PERSON (S) UNDER 18 YEARS OF AGE TO HAVE ACCESS TO ANY OF THE MATERIALS CONTAINED WITHIN THIS SITE. I CAN STOP RECEIVING SUCH MATERIAL AT ANY TIME BY LOGGING OFF NOW AND NOT RETURNING. I AM NOT A LAW ENFORCEMENT AGENT AND I DESIRE TO RECEIVE THIS MATERIAL AND HAVEN’T NOTIFIED ANY GOVERNMENTAL AGENCY OR OTHER TO INTERCEPT SEXUALLY EXPLICIT MATERIAL. I WILL NOT REDISTRIBUTE THE CONTENTS OF THIS SITE IN ANY WAY, SHAPE, OR FORM. IF I REDISTRIBUTE ANY CONTENTS OF THIS SITE, I WILL BE SOLELY RESPONSIBLE FOR MY ACTIONS. I AGREE THAT BY DOING SO, I AM BREAKING COPYRIGHT LAWS. IF I DO NOT RESPECT AND ABIDE BY THESE LAWS I WILL FULLY COMPENSATE THE OWNER OF THIS SITE OR AND THE COMPANY LEASING THE DOMAIN FOR HIS OR HER ATTORNEY’S FEES AND ANY OTHER FEES WHICH MAY INCUR DURING THIS TIME PERIOD. I UNDERSTAND THAT THIS IS NOT AN OFFER FOR PROSTITUTION. MONEY EXCHANGED IS FOR TIME AND COMPANIONSHIP ONLY WITH THE APPROPRIATE VENDOR.</p>
            <h2><span>INDEMNIFICATION</span></h2>
            <p>You agree to indemnify and hold harmless SinCityExperience, its officers, directors, employees, suppliers, and affiliates, from and against any losses, damages, fines and expenses (including attorney’s fees and costs) arising out of or relating to any claims that you have used the Services in violation of another party’s rights, in violation of any law, in violation of any provisions of the Terms, or in connection with any other claim related to your use of the Services.</p>
            <h2><span>ARBITRATION</span></h2>
            <p>Any controversy or claim arising out of or relating to the Terms shall be settled by binding arbitration in accordance with the commercial arbitration rules of the American Arbitration Association. Any such controversy or claim shall be arbitrated on an individual basis, and shall not be consolidated in any arbitration with any claim or controversy of any other party. The decision of the arbitrator shall be final and may not be appealed. The arbitration shall be conducted in Clark County, Nevada and judgment on the arbitration award may be entered into any court having jurisdiction thereof. Notwithstanding anything to the contrary, SinCityExperience may at any time seek injunctions or other forms of equitable relief from any court of competent jurisdiction.</p>
            <br><h2><span>USAGE</span></h2>
            <p>You are responsible for all activities occurring under your name and shall abide by all applicable local, state, national and foreign laws, treaties and regulations in connection with your use of the Services, including those related to data privacy, international communications and the transmission of technical or personal data. </p>
            <br><h2><span>MODIFICATIONS OF TERMS OF USE</span></h2>
            <p>SinCityExperience may modify the Terms upon notice to you at any time. We shall notify you in this event. You will be provided the option to terminate your use of our site SinCityExperience modifies the Terms in a manner that substantially affects your rights in connection with use of the Services. Your continued use of the Service after notice of any change to the Terms will be deemed to be your agreement to the amended Terms.</p>
            <br>
            <h2><span>Privacy Policy</span></h2>
            <br>
            <h2><span>ADULT ORIENTED PRIVACY POLICY</span></h2>
            <p>SinCityExperience ("Business", "us" or "we"), and has created this privacy policy (the "Privacy Policy") in order to disclose our information gathering and dissemination practices. We understand the importance that Internet users place on privacy and have designed our service with this in mind. Our business is fully committed to 100% permission-based marketing. You agree to this Privacy Policy, in its entirety, when you access or use our website located at www.sincityexperience.com (the "Site"). </p>
            <br><h2><span>WHAT INFORMATION DO WE GATHER</span></h2>
            <p>
                Upon request of services, users may be required to provide some or all of the following information:
                <br>Name
                <br>e-Mail Address
                <br>Hotel/Address
                <br>Phone Number
                <br>Business creates internal reports on user demographics and traffic patterns for our advertisers and partners. SinCityExperience forbids any type of outbound marketing or third party sharing of our data.
            </p>
            <p>We reserve the right to transfer and/or sell aggregate or group data about the site's users for lawful purposes. Aggregate or group data is data that describes the demographics, usage or other characteristics of the site's users as a group without disclosing personally identifiable information that may help us create a better user experience on sincityexperience.com.</p>
            <h2><span>HOW WE USE COOKIES</span></h2>
            <p>
                When you access our website, we, or companies we hire to track how our website is used, may place small data files called "cookies" on your computer. We and our service providers also use cookies to customize the way we populate data from sincityexperience.com, content and advertising; measure promotional effectiveness, and promote trust and safety.
                We also use longer-lasting cookies for other purposes such as to display your e-mail address on our sign-in form to populate girls that you've added as a favorite in your account on sincityexperience.com.
                We encode our cookies so that only we can interpret the information stored in them. You are free to decline our cookies if your browser permits, but doing so may interfere with your use of our website. We may also collect information about your computer or other access device to mitigate risk and for fraud prevention purposes.
                You may encounter cookies from third parties while browsing sincityexperience.com which we use to help determine possible areas of improvement on our site.
            </p>
        </div>
    </div>
    @await Html.PartialAsync("_bottomInformation")
</div>