@using WebUi.Lib
<div class="container_wrapper">
    <div class="breadcums_block">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li>Test Page</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="main_container featured_escort">
                <div class="header_block">
                    <h1>Test Page</h1>
                </div>
                <a href="/test1.php"><h1>Test 1 Page</h1></a>
                <a href="/test2.php"><h1>Test 2 Page</h1></a>

            </div>


        </div>
    </div>
</div>