@model WebUi.Controllers.AboutUsViewModel

@{
    ViewData["Title"] = "Trafficking Page";
}

<div class="container_wrapper">
    @* <div class="breadcums_block">
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Report Trafficking</li>
        </ol>
    </div> *@
    @{
        var breadcrumbs = ViewData["Breadcrumbs"] as List<WebUi.Models.BreadcrumbItem>;
    }

    @if (breadcrumbs != null)
    {
        <partial name="_Breadcrumbs" model="breadcrumbs" />
    }

    <div class="main_container featured_escort">
        <div class="header_block">
            <h1><span>Report</span> Trafficking</h1>
        </div>
        <div class="text_info_block">
            
			<h3>Please report any suspected sexual exploitation of minors and/or human trafficking to the appropriate authorities.</h3><br>
<p>United States:<p><br>

<ul class="unorder_list_disc">
<li><a href="https://www.missingkids.org/HOME" target="_blank">National Center for Missing &amp; Exploited Children (NCMEC)</a></li>
<li><a href="https://report.cybertip.org/" target="_blank">CyberTipline</a> - report child exploitation </li>
<li>24-Hour Hotline: 1-800-843-5678 </li>
</ul>

<ul class="unorder_list_disc">
<li><a href="http://www.polarisproject.org/index.php" target="_blank">Polaris Project - Report Human Trafficking</a>: 888-373-7888</li>
<li><a href="http://www.hhs.gov/" target="_blank">Dept. of Health &amp; Human Services</a>: 888-373-7888</li>
<li><a href="http://www.childrenofthenight.org/" target="_blank">Children of the Night</a>: 800-551-1300</li>
<li><a href="http://www.acenational.org/" target="_blank">ACE National</a>: 202-220-3019</li>
<li><a href="http://www.ice.gov/index.htm" target="_blank">Homeland Security Investigations Tip Line</a>: 866-DHS-2-ICE</li>
<li><a href="http://www.justice.gov/" target="_blank">Dept. of Justice</a>: 888-428-7581</li>
<li>FBI Office: <a href="http://www.fbi.gov/contact-us/field" target="_blank">http://www.fbi.gov/contact-us/field</a></li>
</ul>
			
        </div>
    </div>
    <div class="bottom_information_part">
    <div class="row">
        <div class="col-sm-4">
            <div class="bottom_contact_info">
                <h3>Contact Us</h3>
                <p>900 E Karen Ave #220 Las Vegas, NV 89109 USA</p>
                    <p>Phone: <a href="tel:+17027665315" rel="nofollow">702-766-5315</a></p>
                <p>
                </p>
                <p>We are waiting for your call 24 hours a day 7 days a week.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="bottom_working_hours_info">
                <h3>Booking</h3>
                <p>
                    Please feel free to contact us either via phone or email or using <a href="/contact.php">online contact form</a> as well as <a href="/booking.php">online booking form</a>.
                    For reasons of discretion some of our girls do not wish to appear on the
                    website - contact us for more details.
                    Some of our girls available for international traveling.
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="bottom_booking_info">
                <h3>We also offer</h3>
                <p><a href="/fetish.php">Femdom</a></p>
                <p>
                    <a href="/foot-fetish.php">Foot Fetish</a>
                </p>
                <p><a href="/las-vegas-nuru-massage.php">Nuru Massage</a></p>
                <p><a href="/las-vegas-happy-ending-massage.php">Happy Ending Massage</a></p>
                <p><a href="/backpage.php">Las Vegas Backpage</a></p>
            </div>
        </div>
    </div>
</div>
</div>