<div class="bottom_information_part">
    <div class="row">
        <div class="col-sm-4">
            <div class="bottom_contact_info">
                <h3>Contact Us</h3>
                <p>900 E Karen Ave #220 Las Vegas, NV 89109 USA</p>
                <p>Phone: <a href="tel:+1702-577-1199" rel="nofollow">702-577-1199</a></p>
                <p>
                    @*Email: <a href="mailto:booking@sincityexperience.com">booking@sincityexperience.com</a>*@
                </p>
                <p>We are waiting for your call 24 hours a day 7 days a week.</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="bottom_working_hours_info">
                <h3>Booking</h3>
                <p>
                    Please feel free to contact us either via phone or email or using <a href="/contact.php">online contact form</a> as well as <a href="/booking.php">online booking form</a>.
                    For reasons of discretion some of our girls do not wish to appear on the
                    website - contact us for more details.
                    Some of our girls available for international traveling.
                </p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="bottom_booking_info">
                <h3>We also offer</h3>
                <p><a href="/fetish.php">Femdom</a></p>
                <p>
                    <a href="/foot-fetish.php">Foot Fetish</a>
                </p>
             @*   <p><a href="/las-vegas-nuru-massage.php">Nuru Massage</a></p>
                <p><a href="/las-vegas-happy-ending-massage.php">Happy Ending Massage</a></p>*@
                <p><a href="/backpage.php">Las Vegas Backpage</a></p>
            </div>
        </div>
    </div>
</div>